<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
<script>
    var socket;
    jQuery(document).ready(function () {
        //in the beggining the chat is hidden and a login prompt is shown
        $("#chat").css('display', 'none');
        $("#login_form").css('display', 'block');


        socket = io.connect();
        var loginForm = $('#loginForm');
        var form = jQuery('#myForm');
        var txt = jQuery('#txt');
        var chatArea = jQuery('#chatArea');

        //when a new user enters or an existing onde exits
        socket.on('update', function (data) {
            handleNewUser(data);
        });

        //when someone clicks login
        loginForm.submit(function (e) {
            e.preventDefault();
            login();
        });

        //when someone send a message
        form.submit(function (e) {
            e.preventDefault();

            socket.emit('sending message', txt.val());
            txt.val('');
        });

        //a new message on the general chat
        socket.on('new message', function (data) {
            chatArea.append('<div class="well">' + data.socket + ': ' + data.message + '</div>');
        });

    });

    //when the user clicks login
    function login() {
        $("#chat").css('display', 'block');
        $("#login_form").css('display', 'none');
        socket.emit('join', $("#user_name").val());
    }

    //handles when a new user enters or an existing onde exits
    function handleNewUser(data) {
        var usersArea = jQuery('#users');
        var conns = data.connections;
        usersArea.html('');

        for (var key in conns) {
            usersArea.append('<div class="well">' + conns[key] + '</div>');
        }
        $('#chatArea').append('<div class="well">' + data.message.welcome + '</div>');
    }

</script>